@page "/Carrito"
@using BlazorApp1.Shared
@using BlazorApp1.Client.Services;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject PeliculasService peliculasService

@attribute [Authorize]

<PageTitle>Card</PageTitle>

<div class="Login-container">
        <div class="col-ig-4 border d-flex">
            <div class="container-card">
                <span class="title">Movie ticket</span>
                <small>you have @peliculasService.CarritoPeliculas.Count item in you cart</small>

                @foreach (var item in peliculasService.CarritoPeliculas)
                {

                <div class="card-cart-item">
                    <div>
                        <img style="height:70px;width:50px;" src="@item.PeliculaUrlImagen"/>
                        <span>@item.Nombre</span>

                    </div>
                    <div>
                        <span>1</span>
                        <a style="text-decoration:none" class="oi oi-elevator" aria-hidden="true"></a>
                    </div>
                    <span>$500</span>
                    <a style="text-decoration:none" class="oi oi-trash" aria-hidden="true"></a>
                </div>
                }
                


            </div>
            <div class="container-tarjeta">
                <span>Card Details</span>
                <span>tipo de tarjeta</span>
                <input class="form-control"/>
                <span>Nombre de la tarjeta</span>
                <input class="form-control"/>
                <span>numero de tarjeta</span>
                <input class="form-control"/>
                <div class="d-flex">
                    <div>
                        <span>fecha de expiracion</span>
                        <input class="form-control"/>
                    </div>
                    <div>
                        <span>CVV</span>
                        <input class="form-control"/>
                    </div>
                </div>
                <div class="total-container">
                    <span>Subtotal</span>
                    <div class="d-flex justify-content-between">
                        <span>Blade Runner 2049</span>
                        <span>$500</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Total</span>
                        <span>$500</span>
                    </div>
                </div>
                <div class="container-button">
                    <button @onclick="()=>peliculasService.CarritoPeliculas.Clear() " class="button-23" role="button">Comprar</button>
                </div>
            </div>

        </div>
</div>
<style>
    *{
        color:white;
    }
    .Login-container{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
    }
    .container-card{
        display:flex;
        flex-direction:column;
        padding:30px;
        max-height: 700px;
        overflow-y: scroll;
    }
    .title{
        font-size:30px;
        border-bottom:1px solid white;
        padding:10px;
        box-sizing:border-box;
        padding-bottom:30px;
        margin-bottom:30px;
        font-weight:bold;
    }
    .card-cart-item{
        display:flex;
        width:500px;
        height:100px;
        border-bottom:1px solid white;
        border-radius:20px;
        padding:20px;
        align-items:center;
        justify-content:space-between;
    }
    .container-tarjeta{
        padding:40px;
        margin:10px;
        border-left:1px solid white;
    }
    .total-container{
        border-top:1px solid white;
        margin-top:20px;
        padding-top:20px;
    }
    .container-button{
        display:flex;
        justify-content:center;
    }
    .button-23 {
      background-color: #FFFFFF;
      border: 1px solid #222222;
      border-radius: 8px;
      box-sizing: border-box;
      color: #222222;
      cursor: pointer;
      display: inline-block;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
      outline: none;
      padding: 13px 23px;
      position: relative;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;
      transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
      user-select: none;
      -webkit-user-select: none;
      width: 100%;
    }

    .button-23:focus-visible {
      box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
      transition: box-shadow .2s;
    }

    .button-23:active {
      background-color: #F7F7F7;
      border-color: #000000;
      transform: scale(.96);
    }

    .button-23:disabled {
      border-color: #DDDDDD;
      color: #DDDDDD;
      cursor: not-allowed;
      opacity: 1;
    }
    
</style>

