@inherits LayoutComponentBase

@using BlazorApp1.Client.Extenciones;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autentificacionProvider
@inject NavigationManager navManager

<div>
    <div>
        <NavMenu />
    </div>
    <main>
        @Body
    </main>
</div>

<style>
    body{
        background-color:black;
    }
</style>
