@using BlazorApp1.Client.Pages;
@using BlazorApp1.Client.Services;
@using BlazorApp1.Shared;
@using BlazorApp1.Client.Shared;
@inject PeliculasService peliculasService



<nav class="fixed-top">
    <nav>
        <div class="d-flex item-nav-menu justify-content-between">
            <div >
                <section>
                    <a href="/">
                        <img src="./image1.png" class="ImageLogo" />
                    </a>
                </section>
            </div>
            <div >
                <input placeholder="Buscar..." class="Input-Search" @onchange="CambioNombre"/>
                <button class="button-Search" @onclick="buscarPelicula">Q</button>
            </div>
            <div class="search">
                <a href="/Peliculas">Peliculas</a>
                <a href="/LoginRegistrer">Login</a>
            </div>

        </div>
    </nav>
  </nav>
  <div class="nav-space">

  </div>

@code{
    string busqueda = "";

    private async Task CambioNombre(ChangeEventArgs e)
    {
        busqueda = e.Value.ToString();

        if (busqueda?.Length==0)
        {
            await peliculasService.GetListaPeliculas();
        }
    }

    private async Task buscarPelicula()
    {
        await peliculasService.GetPeliculaPorNombre(busqueda);
    }
 
}


<style>
    .item-nav-menu{
        width:100vw;
        background-color:black;
    }
    .item-nav-menu div a{
        color:white;
        text-decoration:none;
        font-size:25px;
        padding:10px;
        margin:10px;
    }
    .nav-space{
        margin-top:110px;
    }
    .ImageLogo{
        height:100px;
        width: 170px;
        border-radius:15px;
    }
    .item-nav-menu div{
        display: flex;
        align-items:center;
    }
    .search{
        margin-right: 10px;
    }
    .Input-Search{
        height:50px;
        width:500px;
        border:none;
        outline:3px solid #373737;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
        background-color:#0A0A0A;
        margin-left: 45px;
        color:white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left:20px;
    }
    .Input-Search:focus{
        outline:3px solid #555555;
    
    }
    .button-Search{
        height:50px;
        width:30px;
        border:none;
        outline:3px solid #373737;
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
        background-color:#212121;
        color: #555555;
        font-size:20px;
    }
</style>