<nav class="fixed-top">
    <nav>
        <div class="d-flex item-nav-menu justify-content-between">
            <div >
                <section>
                    <a href="/">
                        <img src="./image1.png" class="ImageLogo" />
                    </a>
                </section>
            </div>
            <div class="">
                <a href="/Peliculas">Peliculas</a>
                <a href="#">About</a>
                <a href="#">About</a>
            </div>
            <div class="search">
                <a href="#">search</a>
            </div>

        </div>
    </nav>
  </nav>
  <div class="nav-space">

  </div>



<style>
    .item-nav-menu{
        width:100vw;
        background-color:black;
    }
    .item-nav-menu div a{
        color:white;
        text-decoration:none;
        font-size:25px;
        padding:10px;
        margin:10px;
    }
    .nav-space{
        margin-top:110px;
    }
    .ImageLogo{
        height:100px;
        width: 170px;
        border-radius:15px;
    }
    .item-nav-menu div{
        display: flex;
        align-items:center;
    }
    .search{
        margin-right: 10px;
    }
</style>