@using BlazorApp1.Client.Extenciones;
@using BlazorApp1.Client.Pages;
@using BlazorApp1.Client.Services;
@using BlazorApp1.Shared;
@using BlazorApp1.Client.Shared;
@inject PeliculasService peliculasService

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autentificacionProvider
@inject NavigationManager navManager


<nav class="fixed-top">
    <nav>
        <div class="d-flex item-nav-menu justify-content-between">
            <div >
                <section>
                    <a href="/">
                        <img src="./image1.png" class="ImageLogo" />
                    </a>
                </section>
            </div>
            <div >
                <input placeholder="Buscar..." class="Input-Search" @onchange="CambioNombre"/>
                <button class="button-Search" @onclick="buscarPelicula">Q</button>
            </div>
            <div class="search">
                <a class="text-navar"href="/Peliculas">Peliculas</a>
                 <AuthorizeView Roles="Administrador">
                    <Authorized>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle drop" @onclick="HandleDrop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @context.User.Identity!.Name
                            </button>
                            @if(drop)
                            {
                            <div class="DropItemContainer d-flex flex-column">
                                <a href="/Crud/Pelicula" class="DropItem">administrar peliculas</a>
                                <a class="DropItem">administrar generos</a>
                            </div>
                            }
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <a href="/Carrito" style="text-decoration:none" class="oi oi-cart text-white icon-navar" aria-hidden="true"></a>
                        <a class="boton3" @onclick="CerrarSesion">Cerrar sesion</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="boton3" href="/LoginRegistrer">Iniciar sesion</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>


        </div>
    </nav>
  </nav>
  <div class="nav-space">

  </div>

@code{
    string busqueda = "";

    private bool drop = false;

    private void HandleDrop()
    {
        drop = !drop;
    }
    

    private async Task CambioNombre(ChangeEventArgs e)
    {
        busqueda = e.Value.ToString();

        if (busqueda?.Length==0)
        {
            await peliculasService.GetListaPeliculas();
        }
    }

    private async Task buscarPelicula()
    {
        await peliculasService.GetPeliculaPorNombre(busqueda);
    }

    private async Task CerrarSesion()
    {
        var autenticacionExt = (AutentificacionExtencion)autentificacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/", true);

    }
 
}


<style>
    .item-nav-menu{
        width:100vw;
        background-color:black;
    }
    .text-navar{
        color:white;
        text-decoration:none;
        font-size:25px;
        padding:10px;
        margin: 0px 30px 0px 30px;
    }
    .nav-space{
        margin-top:110px;
    }
    .ImageLogo{
        height:100px;
        width: 170px;
        border-radius:15px;
    }
    .item-nav-menu div{
        display: flex;
        align-items:center;
    }
    .search{
        margin-right: 10px;
    }
    .Input-Search{
        height:50px;
        width:500px;
        border:none;
        outline:3px solid #373737;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
        background-color:#0A0A0A;
        margin-left: 220px;
        color:white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left:20px;
    }
    .Input-Search:focus{
        outline:3px solid #555555;
    
    }
    .button-Search{
        height:50px;
        width:30px;
        border:none;
        outline:3px solid #373737;
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
        background-color:#212121;
        color: #555555;
        font-size:20px;
    }
    .boton3{     
        text-decoration: none;
        display:inline-block;
        width:60%;
        padding:10px;
        background: rgb(12, 143, 12);
        width:60%;
        text-align: center;
        color:white;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s ease;
        box-shadow: 0px 0px 20px 5px rgb(21, 248, 0);
        margin: 0px 30px 0px 30px;
    }
    .boton3:hover{
        box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
    }
    .drop{
        margin-right: 30px;
        font-size: 25px;
    }
    .DropItemContainer{
        height:200px;
        min-width: 250px;
        background-color:#0A0A0A;
        position:absolute;
        top: 60px;
    }
    .DropItem{
        font-size:25px;
        color:white;
        text-decoration:none;
        cursor:pointer;
        margin-top:5px;
    }
    .icon-navar{
        font-size: 40px !important;
        top: -5px !important;
        cursor:pointer;
    }
    .icon-navar:hover{
        opacity: .5;
    }

   


</style>